body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:49px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:50px;
}
#u1 {
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:34px;
  top:10px;
  width:252px;
  height:21px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:22px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:13px;
  top:0px;
  width:68px;
  height:42px;
  font-size:36px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:43px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:49px;
  width:320px;
  height:95px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:96px;
}
#u7 {
  position:absolute;
  left:2px;
  top:40px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:248px;
  top:10px;
  width:72px;
  height:28px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:29px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:22px;
  top:72px;
  width:50px;
  height:50px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u11 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:93px;
  top:72px;
  width:150px;
  height:21px;
  font-size:18px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:22px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:93px;
  top:107px;
  width:166px;
  height:15px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:284px;
  top:69px;
  width:15px;
  height:55px;
  font-size:48px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:56px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:0px;
  top:144px;
  width:320px;
  height:95px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:96px;
}
#u19 {
  position:absolute;
  left:2px;
  top:40px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:22px;
  top:167px;
  width:50px;
  height:50px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u21 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:93px;
  top:157px;
  width:181px;
  height:40px;
  font-size:18px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:41px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:93px;
  top:207px;
  width:166px;
  height:15px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:284px;
  top:164px;
  width:15px;
  height:55px;
  font-size:48px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:56px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:0px;
  top:239px;
  width:320px;
  height:95px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:96px;
}
#u29 {
  position:absolute;
  left:2px;
  top:40px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:22px;
  top:262px;
  width:50px;
  height:50px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u31 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:93px;
  top:252px;
  width:181px;
  height:40px;
  font-size:18px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:41px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:93px;
  top:302px;
  width:166px;
  height:15px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:284px;
  top:259px;
  width:15px;
  height:55px;
  font-size:48px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:56px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:0px;
  top:334px;
  width:320px;
  height:95px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:96px;
}
#u39 {
  position:absolute;
  left:2px;
  top:40px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:22px;
  top:357px;
  width:50px;
  height:50px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u41 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:93px;
  top:347px;
  width:181px;
  height:40px;
  font-size:18px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:41px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:93px;
  top:397px;
  width:166px;
  height:15px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:284px;
  top:354px;
  width:15px;
  height:55px;
  font-size:48px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:56px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:0px;
  top:49px;
  width:320px;
  height:95px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:96px;
}
#u49 {
  position:absolute;
  left:2px;
  top:40px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:0px;
  top:144px;
  width:320px;
  height:95px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:96px;
}
#u51 {
  position:absolute;
  left:2px;
  top:40px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:0px;
  top:239px;
  width:320px;
  height:95px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:96px;
}
#u53 {
  position:absolute;
  left:2px;
  top:40px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:0px;
  top:334px;
  width:320px;
  height:95px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:96px;
}
#u55 {
  position:absolute;
  left:2px;
  top:40px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
