body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:299px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:125px;
  top:22px;
  width:174px;
  height:102px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:102px;
}
#u1 {
  position:absolute;
  left:2px;
  top:43px;
  width:170px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:12px;
  top:22px;
  width:103px;
  height:251px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:252px;
}
#u3 {
  position:absolute;
  left:2px;
  top:118px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:26px;
  top:182px;
  width:74px;
  height:82px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:82px;
}
#u5 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:125px;
  top:134px;
  width:174px;
  height:139px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:140px;
}
#u7 {
  position:absolute;
  left:2px;
  top:62px;
  width:170px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:139px;
  top:143px;
  width:85px;
  height:121px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:121px;
}
#u9 {
  position:absolute;
  left:2px;
  top:52px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:12px;
  top:283px;
  width:287px;
  height:147px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:148px;
}
#u11 {
  position:absolute;
  left:2px;
  top:66px;
  width:283px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:76px;
  top:294px;
  width:88px;
  height:126px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:126px;
}
#u13 {
  position:absolute;
  left:2px;
  top:55px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:12px;
  top:342px;
  width:64px;
  height:28px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:29px;
}
#u15 {
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:53px;
  top:332px;
  width:47px;
  height:47px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u17 {
  position:absolute;
  left:2px;
  top:16px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:90px;
  top:325px;
  width:81px;
  height:10px;
  -webkit-transform:rotate(20deg);
  -moz-transform:rotate(20deg);
  -ms-transform:rotate(20deg);
  transform:rotate(20deg);
}
#u18_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u18_end {
  position:absolute;
  left:72px;
  top:-5px;
  width:14px;
  height:20px;
}
#u18_line {
  position:absolute;
  left:0px;
  top:3px;
  width:81px;
  height:4px;
}
#u19 {
  position:absolute;
  left:170px;
  top:325px;
  width:23px;
  height:10px;
}
#u19_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u19_end {
  position:absolute;
  left:14px;
  top:-5px;
  width:14px;
  height:20px;
}
#u19_line {
  position:absolute;
  left:0px;
  top:4px;
  width:23px;
  height:2px;
}
#u20 {
  position:absolute;
  left:203px;
  top:322px;
  width:85px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:17px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:90px;
  top:325px;
  width:81px;
  height:10px;
  -webkit-transform:rotate(340deg);
  -moz-transform:rotate(340deg);
  -ms-transform:rotate(340deg);
  transform:rotate(340deg);
}
#u22_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:72px;
  top:-5px;
  width:14px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:3px;
  width:81px;
  height:4px;
}
#u23 {
  position:absolute;
  left:12px;
  top:22px;
  width:103px;
  height:150px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:151px;
}
#u24 {
  position:absolute;
  left:2px;
  top:42px;
  width:99px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:224px;
  top:164px;
  width:54px;
  height:65px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:66px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:12px;
  top:22px;
  width:287px;
  height:408px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:409px;
}
#u28 {
  position:absolute;
  left:2px;
  top:196px;
  width:283px;
  visibility:hidden;
  word-wrap:break-word;
}
