body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../填写邀请码后的分享页面_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:49px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:55px;
}

.u1 {
    position:absolute;
    left:2px;
    top:16px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:72px;
    top:10px;
    width:175px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:13px;
    top:0px;
    width:68px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:13px;
    top:66px;
    width:224px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../填写邀请码后的分享页面_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:13px;
    top:95px;
    width:200px;
    height:58px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:64px;
}

.u6 {
    position:absolute;
    left:2px;
    top:13px;
    width:196px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:13px;
    top:163px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:13px;
    top:188px;
    width:293px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../填写邀请码后的分享页面_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:223px;
    top:95px;
    width:83px;
    height:58px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:89px;
    height:64px;
}

.u10 {
    position:absolute;
    left:2px;
    top:18px;
    width:79px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:190px;
    top:163px;
    width:116px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

