html,body { width:320px; font-size:12px; margin:0px; min-height:100% }

.hide { display:none }
.clear { float:none; clear:both }

.head { width:292px; position:relative; margin-top:10px; margin-left:14px; margin-right:14px; border-bottom:#D3CFCE solid 1px; font-size:16px; line-height:26px; padding-bottom:10px }

.label { width:50px; float:left }
.info  { float:left; color:#4492F7 }

.process { color:#FFA200 }
.completed { color:#76CF01 }

.title { color:#265BB9; font-size:22px; font-weight:bold; line-height:40px }

.details { width:292px; margin-left:14px; margin-top:10px; line-height:22px; font-size:12px; }

.item .date { float:left; width:110px }
.item .desc { float:left }

.userService { margin-left:14px; margin-top:10px; margin-bottom:20px; }

.code { margin-left:14px; margin-right:14px; width:292px; height:140px; }

.code .text { border:solid #0096FF 2px; width:288px; margin-top:20px; line-height:34px; font-size:16px; text-align:center; vertical-align:middle }

.code a .copy { background-color:#FFFFFF; border:solid #B3B3B3 1px; width:140px; margin-top:10px; line-height:30px; font-size:14px; text-align:center; vertical-align:middle; float:right }


.code a { color:#000000 }

.code a .help { background-color:#FFFFFF; border:solid #B3B3B3 1px; width:140px; margin-top:10px; line-height:30px; font-size:14px; text-align:center; vertical-align:middle; float:left }


