<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <handlers>
            <remove name="ISAPI-dll" />
            <remove name="CGI-exe" />
            <add name="php" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="D:\php\php-cgi.exe" resourceType="Either" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>
