body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:152px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:152px;
}
#u1 {
  position:absolute;
  left:2px;
  top:68px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:14px;
  top:215px;
  width:272px;
  height:60px;
  font-size:28px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:61px;
}
#u3 {
  position:absolute;
  left:2px;
  top:14px;
  width:268px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:14px;
  top:162px;
  width:282px;
  height:30px;
  color:#FF0000;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:31px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:14px;
  top:300px;
  width:272px;
  height:64px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:65px;
}
#u7 {
  position:absolute;
  left:2px;
  top:22px;
  width:268px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:14px;
  top:196px;
  width:150px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:14px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:14px;
  top:6px;
  width:290px;
  height:38px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:39px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  word-wrap:break-word;
}
