body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_container {
    position:absolute;
    left:0px;
    top:-83px;
    width:320px;
    height:603px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:603px;
}

.u1 {
    position:absolute;
    left:2px;
    top:294px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../微信内页面_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:30px;
    top:90px;
    width:252px;
    height:21px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:258px;
    height:27px;
}

.u3 {
    position:absolute;
    left:2px;
    top:4px;
    width:248px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../微信内页面_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:111px;
    top:121px;
    width:171px;
    height:93px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:177px;
    height:99px;
}

.u5 {
    position:absolute;
    left:2px;
    top:2px;
    width:167px;
    height:26px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../微信内页面_files/u2_normal.png');
}

.u6_container {
    position:absolute;
    left:30px;
    top:208px;
    width:252px;
    height:21px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:258px;
    height:27px;
}

.u7 {
    position:absolute;
    left:2px;
    top:4px;
    width:248px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_container {
    position:absolute;
    left:30px;
    top:121px;
    width:81px;
    height:87px;
}

#u8_img {
    position:absolute;
    left:0px;
    top:0px;
    width:81px;
    height:87px;
}

.u9 {
    position:absolute;
    left:2px;
    top:36px;
    width:77px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../微信内页面_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:460px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:466px;
}

.u11 {
    position:absolute;
    left:2px;
    top:222px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

