body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:-61px;
  width:320px;
  height:561px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:562px;
}
#u1 {
  position:absolute;
  left:2px;
  top:272px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:49px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:49px;
  font-family:'HiraKakuProN-W3', 'Hiragino Kaku Gothic ProN W3', 'Hiragino Kaku Gothic ProN';
  font-weight:300;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u3 {
  position:absolute;
  left:12px;
  top:7px;
  width:22px;
  height:42px;
  font-size:36px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:43px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:0px;
  top:49px;
  width:325px;
  height:65px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
  font-family:'HiraKakuProN-W3', 'Hiragino Kaku Gothic ProN W3', 'Hiragino Kaku Gothic ProN';
  font-weight:300;
  font-style:normal;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:31px;
}
#u7 {
  position:absolute;
  left:2px;
  top:5px;
  width:103px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:107px;
  top:0px;
  width:107px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:31px;
}
#u9 {
  position:absolute;
  left:2px;
  top:8px;
  width:103px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:214px;
  top:0px;
  width:106px;
  height:30px;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:31px;
}
#u11 {
  position:absolute;
  left:2px;
  top:5px;
  width:102px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:0px;
  top:30px;
  width:107px;
  height:30px;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:31px;
}
#u13 {
  position:absolute;
  left:2px;
  top:8px;
  width:103px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:107px;
  top:30px;
  width:107px;
  height:30px;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:31px;
}
#u15 {
  position:absolute;
  left:2px;
  top:8px;
  width:103px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:214px;
  top:30px;
  width:106px;
  height:30px;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:31px;
}
#u17 {
  position:absolute;
  left:2px;
  top:8px;
  width:102px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:0px;
  top:220px;
  width:325px;
  height:105px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
  font-family:'HiraKakuProN-W3', 'Hiragino Kaku Gothic ProN W3', 'Hiragino Kaku Gothic ProN';
  font-weight:300;
  font-style:normal;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:31px;
}
#u20 {
  position:absolute;
  left:2px;
  top:5px;
  width:103px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:107px;
  top:0px;
  width:107px;
  height:30px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:31px;
}
#u22 {
  position:absolute;
  left:2px;
  top:5px;
  width:103px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:214px;
  top:0px;
  width:106px;
  height:30px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:31px;
}
#u24 {
  position:absolute;
  left:2px;
  top:5px;
  width:102px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:0px;
  top:30px;
  width:107px;
  height:30px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:31px;
}
#u26 {
  position:absolute;
  left:2px;
  top:8px;
  width:103px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:107px;
  top:30px;
  width:107px;
  height:30px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:31px;
}
#u28 {
  position:absolute;
  left:2px;
  top:8px;
  width:103px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:214px;
  top:30px;
  width:106px;
  height:30px;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:31px;
}
#u30 {
  position:absolute;
  left:2px;
  top:8px;
  width:102px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:0px;
  top:60px;
  width:107px;
  height:40px;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:41px;
}
#u32 {
  position:absolute;
  left:2px;
  top:12px;
  width:103px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:107px;
  top:60px;
  width:107px;
  height:40px;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:41px;
}
#u34 {
  position:absolute;
  left:2px;
  top:12px;
  width:103px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:214px;
  top:60px;
  width:106px;
  height:40px;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:41px;
}
#u36 {
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:200px;
  top:140px;
  width:100px;
  height:30px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u38 {
  position:absolute;
  left:2px;
  top:5px;
  width:96px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:12px;
  top:148px;
  width:150px;
  height:15px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
