body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:-61px;
  width:320px;
  height:561px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:562px;
}
#u1 {
  position:absolute;
  left:2px;
  top:272px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:49px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:49px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u3 {
  position:absolute;
  left:12px;
  top:7px;
  width:22px;
  height:42px;
  font-size:36px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:43px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:0px;
  top:100px;
  width:320px;
  height:50px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:left;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:51px;
}
#u6 {
  position:absolute;
  left:2px;
  top:18px;
  width:316px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:0px;
  top:50px;
  width:320px;
  height:50px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:left;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:51px;
}
#u8 {
  position:absolute;
  left:2px;
  top:18px;
  width:316px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:0px;
  top:150px;
  width:320px;
  height:50px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:left;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:51px;
}
#u10 {
  position:absolute;
  left:2px;
  top:18px;
  width:316px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:0px;
  top:200px;
  width:320px;
  height:50px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:left;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:51px;
}
#u12 {
  position:absolute;
  left:2px;
  top:18px;
  width:316px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:230px;
  top:55px;
  width:80px;
  height:9px;
  font-size:10px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:10px;
}
#u14 {
  position:absolute;
  left:2px;
  top:-3px;
  width:76px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:230px;
  top:103px;
  width:80px;
  height:9px;
  font-size:10px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:10px;
}
#u16 {
  position:absolute;
  left:2px;
  top:-3px;
  width:76px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:234px;
  top:155px;
  width:80px;
  height:9px;
  font-size:10px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:10px;
}
#u18 {
  position:absolute;
  left:2px;
  top:-3px;
  width:76px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:234px;
  top:203px;
  width:80px;
  height:9px;
  font-size:10px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:10px;
}
#u20 {
  position:absolute;
  left:2px;
  top:-3px;
  width:76px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:70px;
  top:110px;
  width:40px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:31px;
}
#u22 {
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
