body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../App_Home_files/Placeholder_for_App_Content_u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:460px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:466px;
}

.u1 {
    position:absolute;
    left:2px;
    top:222px;
    width:316px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:119px;
    top:111px;
    width:150px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../App_Home_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:119px;
    top:328px;
    width:100px;
    height:25px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u4 {
    position:absolute;
    left:2px;
    top:6px;
    width:96px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

