body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../New_Page_1_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:85px;
    top:138px;
    width:100px;
    height:25px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u1 {
    position:absolute;
    left:2px;
    top:5px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

