body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:49px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:50px;
}
#u1 {
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:34px;
  top:10px;
  width:252px;
  height:21px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:22px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:13px;
  top:0px;
  width:68px;
  height:42px;
  font-size:36px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:43px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:22px;
  top:67px;
  width:275px;
  height:43px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:44px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  word-wrap:break-word;
}
