* html .u0_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="侧滑3_files/u0_normal.png");
}

* html .u7_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="侧滑3_files/u7_normal.png");
}

