body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../任务列表_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:49px;
    width:320px;
    height:137px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:143px;
}

.u1 {
    position:absolute;
    left:2px;
    top:60px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../任务列表_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:49px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:55px;
}

.u3 {
    position:absolute;
    left:2px;
    top:16px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:132px;
    top:10px;
    width:175px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:13px;
    top:68px;
    width:294px;
    height:65px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:13px;
    top:0px;
    width:68px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:13px;
    top:143px;
    width:294px;
    height:26px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../任务列表_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:0px;
    top:186px;
    width:320px;
    height:72px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:78px;
}

.u9 {
    position:absolute;
    left:2px;
    top:26px;
    width:316px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../任务列表_files/u8_normal.png');
}

.u10_container {
    position:absolute;
    left:0px;
    top:258px;
    width:320px;
    height:72px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:78px;
}

.u11 {
    position:absolute;
    left:2px;
    top:26px;
    width:316px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../任务列表_files/u8_normal.png');
}

.u12_container {
    position:absolute;
    left:0px;
    top:330px;
    width:320px;
    height:72px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:78px;
}

.u13 {
    position:absolute;
    left:2px;
    top:26px;
    width:316px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../任务列表_files/u8_normal.png');
}

.u14_container {
    position:absolute;
    left:0px;
    top:402px;
    width:320px;
    height:72px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:78px;
}

.u15 {
    position:absolute;
    left:2px;
    top:26px;
    width:316px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../任务列表_files/u8_normal.png');
}

.u16_container {
    position:absolute;
    left:0px;
    top:474px;
    width:320px;
    height:72px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:78px;
}

.u17 {
    position:absolute;
    left:2px;
    top:26px;
    width:316px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

