body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:28px;
  width:320px;
  height:403px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:403px;
}
#u1 {
  position:absolute;
  left:2px;
  top:194px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:10px;
  top:303px;
  width:42px;
  height:64px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:65px;
}
#u3 {
  position:absolute;
  left:2px;
  top:6px;
  width:38px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:87px;
  top:303px;
  width:24px;
  height:64px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:65px;
}
#u5 {
  position:absolute;
  left:2px;
  top:6px;
  width:20px;
  word-wrap:break-word;
}
