body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:78px;
  top:94px;
  width:177px;
  height:234px;
  font-size:48px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:235px;
}
#u1 {
  position:absolute;
  left:2px;
  top:40px;
  width:173px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:91px;
  top:49px;
  width:164px;
  height:26px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#999999;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:27px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:460px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:461px;
}
#u5 {
  position:absolute;
  left:2px;
  top:222px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
