* html .u0_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="填写邀请码后的分享页面_files/u0_normal.png");
}

* html .u5_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="填写邀请码后的分享页面_files/u5_normal.png");
}

* html .u9_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="填写邀请码后的分享页面_files/u9_normal.png");
}

