body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:300px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:88px;
  top:382px;
  width:139px;
  height:38px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:39px;
}
#u1 {
  position:absolute;
  left:2px;
  top:12px;
  width:135px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:10px;
  top:8px;
  width:83px;
  height:109px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:109px;
}
#u3 {
  position:absolute;
  left:2px;
  top:46px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:117px;
  width:300px;
  height:235px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:235px;
}
#u5 {
  position:absolute;
  left:2px;
  top:110px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:103px;
  top:38px;
  width:197px;
  height:48px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:49px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:10px;
  top:8px;
  width:290px;
  height:109px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:110px;
}
#u9 {
  position:absolute;
  left:2px;
  top:46px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:262px;
  top:176px;
  width:15px;
  height:18px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:18px;
}
#u11 {
  position:absolute;
  left:2px;
  top:1px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:26px;
  top:202px;
  width:86px;
  height:65px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#9900FF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:66px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
